.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background-color: var(--ifm-background-surface-color);
}

.sectionHeader {
  text-align: center;
  margin-bottom: 3rem;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.featureEmoji {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 996px) {
  .features {
    padding: 3rem 1rem;
  }

  .featureEmoji {
    font-size: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .sectionTitle {
    font-size: 1.5rem;
  }

  .featureEmoji {
    font-size: 2.5rem;
  }
}
